<a href="https://colab.research.google.com/github/ifolo-nwulu/DS-Assignment-Submission-Practice-Repository/blob/master/BuildWeekProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install category_encoders==2.
#!pip install pandas_profiling==2.

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression, LinearRegression, Ridge
from sklearn.metrics import accuracy_score, precision_score, recall_score, \
plot_confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeRegressor

In [ ]:
import pandas as pd
# read an excel file and convert 
# into a dataframe object
df = pd.DataFrame(pd.read_excel("Best US Cities.xlsx"))
  
# show the dataframe
df

     US News Rank  ...                                               Link
0               1  ...  https://realestate.usnews.com/places/texas/austin
1               2  ...  https://realestate.usnews.com/places/colorado/...
2               3  ...  https://realestate.usnews.com/places/colorado/...
3               4  ...  https://realestate.usnews.com/places/arkansas/...
4               5  ...  https://realestate.usnews.com/places/iowa/des-...
..            ...  ...                                                ...
120           121  ...  https://realestate.usnews.com/places/alabama/m...
121           122  ...  https://realestate.usnews.com/places/louisiana...
122           123  ...  https://realestate.usnews.com/places/californi...
123           124  ...  https://realestate.usnews.com/places/californi...
124           125  ...  https://realestate.usnews.com/places/puerto-ri...

[125 rows x 18 columns]

In [ ]:
# Write the dataframe object
# into csv file

# Read and store content
# of an excel file 
read_file = pd.read_excel ("Best US Cities.xlsx")
read_file.to_csv ("Best US Cities.xlsx.csv", 
                  index = None,
                  header=True)
    
# read csv file and convert 
# into a dataframe object
df = pd.DataFrame(pd.read_csv("Best US Cities.xlsx.csv"))
  
# show the dataframe
df.columns = ['US_News_Rank', 'City', 'State', 'Metro_Population',
        'Average_Annual_Salary', 'Avg High/Low Temps', 'Median_Age',
        'Median_Home_Price', 'AVG_Annual_Rainfall', 'Unemployment_Rate',
        'Median_Monthly_Rent', 'Avg_Commute_Time', 'Percent_Single',
        'Total_Students', 'Total_Teachers', 'Violent_Crime', 'Property_Crime', 'Link']

In [ ]:
#df.isnull().sum()
# temp: 25 missing
# rainfall: 25 missing
# home price: 9 missing
# total students: 4 missing
# total teachers: 4 missing

#(to comment out a block of code = control + / )

In [ ]:

df["AVG_Annual_Rainfall"].str.replace("inches","") 
df["Avg_Commute_Time"] = df["Avg_Commute_Time"].str.replace("minutes", "")
df.drop(['Total_Students', 'Total_Teachers', 'Link'], axis=1, inplace = True)

df["STATE"] = df['State'].str.rjust(4,"_")
df['City_State'] = df['City'] + df['STATE']
df.drop(["STATE", "State", "City"], axis = 1, inplace = True)

df.head(2)

AttributeError: ignored

In [ ]:
#pulls out all rows with null values
abc = df[df.isnull().any(axis=1)]
abc.head(30)

In [ ]:
df["Avg_High_Temp"] = df["Avg High/Low Temps"].str[:4]
df["Avg_Low_Temp"] = df["Avg High/Low Temps"].str[-5:-1]
df.drop(["Avg High/Low Temps"], axis = 1, inplace = True)

df[df.isnull().any(axis=1)].index

Int64Index([ 10,  15,  28,  32,  36,  39,  40,  42,  69,  72,  74,  76,  77,
             79,  83,  86,  95, 100, 104, 107, 110, 111, 114, 115, 116, 120,
            121, 124],
           dtype='int64')

In [ ]:
# sif = [10,  15,  28,  32,  36,  39,  40,  42,  69,  72,  74,  76,  77,
#              79,  83,  86,  95, 100, 104, 107, 114, 115, 116, 120, 121]
# for x in sif:
#    print(DF.loc[x, "City_State"]) 

df.loc[10, "Avg_High_Temp"] = 73
df.loc[15, "Avg_High_Temp"] = 67
df.loc[28, "Avg_High_Temp"] = 69.8
df.loc[32, "Avg_High_Temp"] = 67
df.loc[36, "Avg_High_Temp"] = 77
df.loc[39, "Avg_High_Temp"] = 60
df.loc[40, "Avg_High_Temp"] = 57
df.loc[42, "Avg_High_Temp"] = 58
df.loc[69, "Avg_High_Temp"] = 44
df.loc[72, "Avg_High_Temp"] = 70
df.loc[74, "Avg_High_Temp"] = ""
df.loc[76, "Avg_High_Temp"] = 64
df.loc[77, "Avg_High_Temp"] = ""
df.loc[79, "Avg_High_Temp"] = 67
df.loc[83, "Avg_High_Temp"] = 62
df.loc[86, "Avg_High_Temp"] = 64
df.loc[95, "Avg_High_Temp"] = 79
df.loc[100, "Avg_High_Temp"] = 78
df.loc[104, "Avg_High_Temp"] = 82
df.loc[107, "Avg_High_Temp"] = 78
df.loc[114, "Avg_High_Temp"] = 57
df.loc[115, "Avg_High_Temp"] = 84
df.loc[116, "Avg_High_Temp"] = 68
df.loc[120, "Avg_High_Temp"] = 77
df.loc[121, "Avg_High_Temp"] = 77

# Huntsville__AL
# Asheville__NC
# Lexington-Fayette__KY
# Reno__NV
# Pensacola__FL
# Fort Wayne__IN
# Lansing__MI
# Manchester__NH
# Anchorage__AK
# Santa Barbara__CA
# Myrtle Beach__SC
# Salem__OR
# Port St. Lucie__FL
# Springfield__MO
# Reading__PA
# York__PA
# Lafayette__LA
# Killeen__TX
# Corpus Christi__TX
# Beaumont__TX
# Flint__MI
# Brownsville__TX
# Salinas__CA
# Mobile__AL
# Shreveport__LA

In [ ]:
df.loc[10, "Avg_Low_Temp"] = 51
df.loc[15, "Avg_Low_Temp"] = 46
df.loc[28, "Avg_Low_Temp"] = 49.2
df.loc[32, "Avg_Low_Temp"] = 40
df.loc[36, "Avg_Low_Temp"] = 59
df.loc[39, "Avg_Low_Temp"] = 41
df.loc[40, "Avg_Low_Temp"] = 39
df.loc[42, "Avg_Low_Temp"] = 38
df.loc[69, "Avg_Low_Temp"] = 30
df.loc[72, "Avg_Low_Temp"] = 53
df.loc[74, "Avg_Low_Temp"] = 55
df.loc[76, "Avg_Low_Temp"] = 42
df.loc[77, "Avg_Low_Temp"] = 55
df.loc[79, "Avg_Low_Temp"] = 45
df.loc[83, "Avg_Low_Temp"] = 43
df.loc[86, "Avg_Low_Temp"] = 42
df.loc[95, "Avg_Low_Temp"] = 60
df.loc[100, "Avg_Low_Temp"] = 54
df.loc[104, "Avg_Low_Temp"] = 63
df.loc[107, "Avg_Low_Temp"] = 59
df.loc[114, "Avg_Low_Temp"] = 38
df.loc[115, "Avg_Low_Temp"] = 65
df.loc[116, "Avg_Low_Temp"] = 47
df.loc[120, "Avg_Low_Temp"] = 57
df.loc[121, "Avg_Low_Temp"] = 55

In [ ]:
#DF=df.copy()
df.loc[10, "AVG Annual Rainfall"] = 55
df.loc[15, "AVG Annual Rainfall"] = 43.7
df.loc[28, "AVG Annual Rainfall"] = 46.2
df.loc[32, "AVG Annual Rainfall"] = 8.9
df.loc[36, "AVG Annual Rainfall"] = 64.4
df.loc[39, "AVG Annual Rainfall"] = 38.1
df.loc[40, "AVG Annual Rainfall"] = 44
df.loc[42, "AVG Annual Rainfall"] = 33
df.loc[68, "AVG Annual Rainfall"] = 40.4
df.loc[69, "AVG Annual Rainfall"] = 16.6
df.loc[72, "AVG Annual Rainfall"] = 18.5
df.loc[74, "AVG Annual Rainfall"] = 51.9
df.loc[76, "AVG Annual Rainfall"] = 44.9
df.loc[77, "AVG Annual Rainfall"] = 58.3
df.loc[79, "AVG Annual Rainfall"] = 45.1
df.loc[83, "AVG Annual Rainfall"] = 45
df.loc[86, "AVG Annual Rainfall"] = 41.9
df.loc[95, "AVG Annual Rainfall"] = 61
df.loc[100, "AVG Annual Rainfall"] = 32.8
df.loc[104, "AVG Annual Rainfall"] = 33
df.loc[107, "AVG Annual Rainfall"] = 65
df.loc[114, "AVG Annual Rainfall"] = 32
df.loc[115, "AVG Annual Rainfall"] = 25.6
df.loc[116, "AVG Annual Rainfall"] = 15.3
df.loc[120, "AVG Annual Rainfall"] = 66.4
df.loc[121, "AVG Annual Rainfall"] = 51.3

In [ ]:
#DF[DF['Median Home Price'].isna()]
# 28,79,104,107,110,111,115,121,124,

# list = [28,79,104,107,110,111,115,121,124]

# for x in list:
#   print(DF.loc[x, "City_State"]) 
  
# #240302, 175958, 189464, 119200, 66445, 167486, 131195, 120383, 175000

In [ ]:
df.loc[28, "Median Home Price"] = 240302
df.loc[79, "Median Home Price"] = 175958
df.loc[104, "Median Home Price"] = 189464
df.loc[107, "Median Home Price"] = 119200
df.loc[110, "Median Home Price"] = 66445
df.loc[111, "Median Home Price"] = 167486
df.loc[115, "Median Home Price"] = 131195
df.loc[121, "Median Home Price"] = 120383
df.loc[124, "Median Home Price"] = 175000

In [ ]:
df["1st_or_2nd"] = pd.Series()

df.loc[df["US News Rank"] < 63, "1st_or_2nd"] = 1
df.loc[df["US News Rank"] > 62, "1st_or_2nd"] = 2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
df.head(2)

   US News Rank  Metro Population  ...  Avg_Low_Temp  1st_or_2nd
0             1           2000590  ...          54.8         1.0
1             2           2798684  ...          36.2         1.0

[2 rows x 16 columns]

In [ ]:
df.set_index('City_State', inplace=True) 
df.drop(labels = "US News Rank", axis =1, inplace = True)

df.head(2)

KeyError: ignored

In [ ]:
#if you want a subset of dataframe with just the index and 1st column 

#Unique_Rankings = df.iloc[0:125,0:1]

In [ ]:
target = "1st_or_2nd"
features = df.columns.drop([target]) 
X = df[features]
y = df[target]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.95, random_state=42)

In [ ]:
y_test

City_State
Washington, D.C.__DC    1.0
Manchester__NH          1.0
Pensacola__FL           1.0
Salem__OR               2.0
Syracuse__NY            1.0
Detroit__MI             2.0
Atlanta__GA             1.0
Name: 1st_or_2nd, dtype: float64

In [ ]:
df["Avg_High_Temp"].tail(60)

City_State
Greensboro__NC        69.2
Columbia__SC          75.6
Oklahoma City__OK     72.2
Dayton__OH            61.0
Anchorage__AK           44
Las Vegas__NV         80.0
Augusta__GA           76.8
Santa Barbara__CA       70
Santa Rosa__CA        71.0
Myrtle Beach__SC
Tucson__AZ            83.1
Salem__OR               64
Port St. Lucie__FL
Wichita__KS           67.6
Springfield__MO         67
St. Louis__MO         66.1
Sacramento__CA        73.8
Tulsa__OK             71.3
Reading__PA             62
Cleveland__OH         59.2
Springfield__MA       59.2
York__PA                64
Little Rock__AR       72.8
Birmingham__AL        73.8
New York City__NY     62.0
Providence__RI        60.6
Detroit__MI           57.8
Allentown__PA         61.4
Toledo__OH            59.9
New Haven__CT         60.6
Lafayette__LA           79
Youngstown__OH        58.3
Scranton__PA          58.7
Daytona Beach__FL     80.1
Baltimore__MD         65.0
Killeen__TX             78
Philadelphia__PA      64.6
Virginia Beach__VA    68.2
Chicago__IL           59.0
Corpus Christi__TX      82
Albuquerque__NM       68.7
Los Angeles__CA       69.0
Beaumont__TX            78
Baton Rouge__LA       78.9
El Paso__TX           77.4
Jackson__MS           75.5
McAllen__TX           85.9
Miami__FL             84.3
New Orleans__LA       78.2
Flint__MI               57
Brownsville__TX         84
Salinas__CA             68
Memphis__TN           72.4
Fresno__CA            76.7
Modesto__CA           76.0
Mobile__AL              77
Shreveport__LA          77
Stockton__CA          74.3
Bakersfield__CA       76.8
San Juan__PR          86.6
Name: Avg_High_Temp, dtype: object

In [ ]:
# df.describe().round(3)

df["Avg_High_Temp"] = pd.to_numeric(df.Avg_High_Temp, errors="coerce") 
df["Avg_Low_Temp"] = df.Avg_Low_Temp.astype(float) 
df["Avg_Commute_Time"] = df.Avg_Commute_Time.astype(float)
#df["AVG_Annual_Rainfall"] = df.AVG_Annual_Rainfall.astype(float)
#df.info()
df["AVG_Annual_Rainfall"]

City_State
Austin__TX              32.2 inches
Denver__CO              14.3 inches
Colorado Springs__CO    16.5 inches
Fayetteville__AR        47.9 inches
Des Moines__IA          36.0 inches
                           ...
Mobile__AL                      NaN
Shreveport__LA                  NaN
Stockton__CA            14.1 inches
Bakersfield__CA          6.5 inches
San Juan__PR            56.4 inches
Name: AVG_Annual_Rainfall, Length: 125, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 125 entries, Austin__TX to San Juan__PR
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Metro Population       125 non-null    int64
 1   Average Annual Salary  125 non-null    int64
 2   Median Age             125 non-null    float64
 3   Median Home Price      125 non-null    float64
 4   AVG Annual Rainfall    125 non-null    object
 5   Unemployment Rate      125 non-null    float64
 6   Median Monthly Rent    125 non-null    int64
 7   Avg Commute Time       125 non-null    object
 8   Percent Single         125 non-null    float64
 9   Violent crime          125 non-null    float64
 10  Property Crime         125 non-null    float64
 11  Avg_High_Temp          123 non-null    float64
 12  Avg_Low_Temp           125 non-null    float64
 13  1st_or_2nd             125 non-null    float64
dtypes: float64(9), int64(3), object(2)
memory usage: 19.6+ KB

In [ ]:
# model_lr = make_pipeline(OneHotEncoder(use_cat_names=True), StandardScaler(), LinearRegression())
# model_lr.fit(X_train, y_train);

model_lr = make_pipeline(OneHotEncoder(use_cat_names=True),LinearRegression())

model_lr.fit(X_train, y_train);

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [ ]:
#model_lr.score(X_train, y_train)
#score = 1.0
#model_lr.score(X_test, y_test)
#score = -0.35291584201269055

In [ ]:
model_lr = make_pipeline(OneHotEncoder(use_cat_names=True), SimpleImputer(), StandardScaler(), LogisticRegression()) 
model_lr.fit(X_train, y_train);

#model_lr.score(X_train, y_train) 
#score = 1.0
model_lr.predict(X_test) 
#score = 0.2857142857142857

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

array([1., 2., 2., 2., 2., 1., 2.])

In [ ]:
#model_r = make_pipeline(OneHotEncoder(use_cat_names=True), SimpleImputer(), StandardScaler(), Ridge()) 
#model_r.fit(X_train, y_train);

# model_r.score(X_train, y_train)
# score = .999

#model_r.score(X_test, y_test)
#score = -.3456

In [ ]:
model_dt = make_pipeline(OrdinalEncoder(), SimpleImputer(), StandardScaler(), RandomForestClassifier()) 
model_dt.fit(X_train, y_train);

#model_dt.score(X_train, y_train)
#score = 1 

model_dt.score(X_test, y_test)
#score = -.3999

0.8571428571428571